<!DOCTYPE html>
<html>
{% include "include.html" %}
{% load basename %}

<style type="text/css" media="screen">
.top {
  margin-top: 10px; 
}
</style>

  {% include "nav.html" %}

  <body>
    <div class="container">
      <img src="{{book.image}}" height="300" width="240">
      <h3 style="padding-top:10px;">{{book.title}}</h3>
      <p class="lead">{{book.author}}</p>

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="online-tab" data-toggle="tab" href="#online" role="tab" aria-controls="online" aria-selected="true">線上看</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="txt-tab" data-toggle="tab" href="#txt" role="tab" aria-controls="txt" aria-selected="false">txt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="mobi-tab" data-toggle="tab" href="#mobi" role="tab" aria-controls="mobi" aria-selected="false">mobi</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="online" role="tabpanel" aria-labelledby="online-tab">
          <div class="container" style="padding-top:10px;">
            <div class="row row-cols-6">            
              {% for i in book.chapters %}
              <div class="col-sm-2 top">            
                <a href="/novel/online/{{book.id}}/{{i}}" type="button" class="btn btn-block btn-secondary">{{i}}</a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="txt" role="tabpanel" aria-labelledby="txt-tab">
          <div class="container" style="padding-top:10px;">
            {% for f in book.txt %}
            <a href="{{f}}">{{ f | basename}}</a><br>
            {% endfor %}
          </div>
        </div>

        <div class="tab-pane fade" id="mobi" role="tabpanel" aria-labelledby="mobi-tab">
          <div class="container" style="padding-top:10px;">
            {% for f in book.mobi %}
            <a href="{{f}}">{{ f | basename}}</a><br>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </body>

  {% include "bottom.html" %}
</html>
