<!DOCTYPE html>

<html>
{% include "include.html" %}
  {% include "nav.html" %}
  <body>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-4">
        {% for novel in novels %}
        <div class="col mb-4">
          <div class="card" style="width: 14rem;">
            <a href="/novel/book/{{novel.id}}">
              <img src="{{novel.image}}" class="card-img-top" height="200" width="150">
            </a>
            <h6 class="card-title" style="padding-top:10px;">{{novel.title}}</h6>
            <h7 class="card-subtitle mb-2 text-muted">{{novel.author}}</h7>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
  {% include "bottom.html" %}
</html>
